.header {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 640px;
    width: 100%;

    &>div {
        flex-grow: 1
    }

    .active {
        text-align: center;
    }

    .score {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}